<template>
	<nav class="navbar is-fixed-top is-white header is-expanded" role="navigation" aria-label="main navigation">
	  	<div class="navbar-brand">
		    <a class="navbar-item no-padding" @click="goHome()">
		      <img src="../assets/logo.jpg" alt="Bulma: a modern CSS framework based on Flexbox" width="144" height="52">
		    </a>

		    <div class="navbar-burger">
		      <span></span>
		      <span></span>
		      <span></span>
		    </div>
		</div>

	    <div id="navbarExampleTransparentExample" class="navbar-menu">
	    	<div class="navbar-start">
	    		<a class="navbar-item" @click="goHome()">
	    			Home
      			</a>
      			<a class="navbar-item" @click="goRelatorio()">
	    			Relatório
      			</a>
      			<a class="navbar-item" @click="goQuiz()">
	    			Quiz
      			</a>
      		</div>
      		<div class="navbar-end">
      			<div class="navbar-item">
      				<div class="field is-grouped">
      					<p class="control">
      						<a class="button is-primary" @click="logout">
      							<span>Logout</span>
      						</a>
      					</p>
      				</div>
      			</div>
      		</div>
      	</div>
	</nav>
</template>

<script>
export default {
	methods: {
		goHome() {
			this.$router.replace('dashboard');
		},
		goRelatorio() {
			this.$router.replace('relatorio');
		},
		goQuiz() {
			this.$router.replace('quiz');
		},
		logout() {
			this.$router.replace('sign-in');
		}
	}
}
</script>
