<template>
	<div>
		<app-header></app-header>
		<div class="spacer">&nbsp;</div>
		<section class="relatorio section">
			<div class="container">
  				<h3 class="title is-4 is-spaced">Relatório</h3>
  			</div>
		</section>
	</div>
</template>

<script>
import Header from './Header.vue';
export default {
	components: {
		'app-header': Header
	}
}
</script>