<template>
	<section class="signin hero is-success is-fullheight">
		<div class="hero-body">
      		<div class="container has-text-centered">
        		<div class="column is-4 is-offset-4">
					<div class="box">
						<figure class="avatar">
              				<img src="../assets/logo.jpg">
            			</figure>
						<form>
              				<div class="field">
                				<div class="control">
                					<input class="input is-large" type="email" placeholder="Your Email" autofocus="">
                				</div>
              				</div>
              				<div class="field">
                				<div class="control">
                  					<input class="input is-large" type="password" placeholder="Your Password">
                				</div>
              				</div>
              				<button @click.prevent="login" class="button is-block is-info is-large is-fullwidth">Login</button>
              			</form>
              		</div>
              	</div>
            </div>
        </div>
	</section>
</template>

<script>
export default {
	methods: {
		login() {
			this.$router.replace('dashboard');
		}
	}
}
</script>