<template>
    <div class="container">
               <router-view></router-view>
    </div>
</template>

<script>
  import Login from './components/Login.vue'
    export default {
      components: {
        appLogin: Login
      }
    }
</script>

