.signin {

  background: $primary-background-color;

  	.nav {
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	input {
		font-size: 18px !important;
  		font-weight: 300;
	}
	p {
  		font-weight: 700;
	}
	.field {
		padding: 5px;
	}
	button {
		margin-top: 10px;
	}
}